{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/viewpost.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">

</head>
<body>
    <div class="navbar">
        <div class="top-bar">
            <a href="/" class="logo-button"><img src="{% static '../static/main_logo.png' %}" alt="Forum Logo" class="logo"> </a>
   
            <div class="auth-buttons-left">
                <button class="btn"><a href="{% url 'articles' %}">Articles</a></button>
                <button class="btn"><a href="{% url 'forum' %}">Forums</a></button>
           </div>
           
               <div class="auth-buttons-right">
                {% if user.is_authenticated %}
                   <span class="username">Welcome, {{ user.username }}</span>
                   <a href="{% url 'logout' %}" class="btn">Log Out</a>
                {% else %}
                   <a href="{% url 'login' %}" class="btn">Log In</a>
                {% endif %}
                   
               </div>
           </div>
    </div>

    {% block content %}
    {% endblock content %}

    <footer>
        <p>&copy; 2025 Cookie Verse. All rights reserved.</p>
    </footer>
</body>
</html>